body {
  background-image: url("img/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

.container {
  height: 790px;
  width: 790px;
  margin: 100px auto;
  display: flex;
  flex-direction: column-reverse;  
  justify-content: start;
}

.cells {
  display: flex;
  flex-wrap: wrap;
}
.cell {
  height: 250px;
  width: 250px;
  margin: 5px;
  background-color: rgba(165, 147, 65, 0.349);
}

.head { 
  margin: 0px 5px 20px 0px;
  display: flex;
  justify-content: center;
  
}
